footer {
    background-color: $white-shade;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    padding: 40px 0;
}

footer a {
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 1px;

}

.quick-link {
    width: calc(100% / 2);
    display: flex;
}

.quick-link-content {
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer span {
    margin-top: 15px;
}

.circle-icon {
    position: relative;
    z-index: 0;
}

.circle-icon::before {
    content: '';
    position: absolute;
    background-color: $accent;
    height: 50px;
    width: 50px;
    border: solid 2px $accent;
    border-radius: 50%;
    z-index: -1;
    display: block;
    top: -14px;
    left: -14px;
    
}

.copyright {
    background-color: $black;
    color: $white-shade;
    text-align: center;
}