.about {
    background-color: #f6f6f6;
}

.about-willow {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.about-content {
    margin-bottom: 25px;
}

.about h2,
.about p {
    padding: 10px;
}

.home-link {
    background-color: $accent;
    padding: 10px 15px;
    font-weight: bold;
    margin: 25px 10px;
}