.home {
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    align-items: center;

    h1 {
        font-size: 7rem;
    }
}

.headshot {
    width: 40%;
    margin-top: 5vh;

    img {
        box-shadow: 20px 20px white;
    }
}

.logo {
    width: 60%;
    position: relative;
}

.logo::before {
    content: '';
    background-image: url(../assets/circle-text.png);
    background-size: 80%;
    background-position: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    position: absolute;
    z-index: 1;
    top: -25px;
    left: -45px;
    rotate: 10deg;
}