nav {
    background-color: #345231;
    display: flex;
    justify-content: center;
    align-content: center;
}

i.menu {
    color: $white-shade;
    font-size: 0;
    padding: 20px 10px;
}

i.menu,
.mobile-only {
    visibility: collapse;
}

.mobile-only {
    flex-direction: column;
    align-items: first baseline;
    height: 0vh;
    transition-property: height;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;

}

.selected {
    color: $accent;
}

i.menu:hover,
i.menu:focus {
    color: $accent;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
 
nav ul li,
#willow {
    padding: 10px 15px;
}

nav ul li a:hover,
nav ul li a:focus {
    color: $accent;
}