nav {
    background-color: #345231;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
 
nav ul li {
    padding: 10px 15px;
}

nav ul li a:hover,
nav ul li a:focus {
    color: $accent;
}