html {
    font-size: 125%;
}

a,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
a {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.1rem;
}

h3 { 
    font-size: 1.6rem;
}

nav a {
    font-size: 1.2rem;
}

p,
a {
    font-size: 1rem;
}

p {
    letter-spacing: 1px;
    line-height: 35px;
}

h2,
h3,
a {
    color: $black;
}

h1,
h2,
h3 {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1px;
}

p,
nav a {
    font-family: 'Montserrat', sans-serif;
}

h1,
nav a {
    color: $white-shade;
}

#willow {
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
    color: $white-shade;
    font-size: 2rem;
}