// colour palette
$pine: #345231;
$green-grey: #709b6b;
$accent: #e4a436;
$black: #1f1f1f;
$white-shade: #f6f6f6;

// .scss imports

@import "normalize";

@import "typography";

@import "general-styles";

@import "nav-styles";

@import "home-header-styles";

@import "home-main-styles";

@import "contact-styles";

@import "blog-styles";

@import "footer-styles";

// changes in viewport 
@media (max-width: 1200px) {
    // home header
    div.headshot {
        margin-top: 0vh ;
    }

    .logo {
    width: calc(60% - 5%);
    margin-left: 5%;

        h1 {
        font-size: 6rem;

        }   
    }
    // home page
    // favourite things and bucket list sections
    .favourite-things,
    .bucket-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .favourite-content,
    .favourite-img,
    .bucket-list-content,
    .bucket-list-img {
        width: 80%;
    }

    .favourite-content,
    .bucket-list-content {
        text-align: center;
    }

    .bucket-list-content {
        margin-top: 50px;
        margin-bottom: 40px;
        padding-right: 0px;
    }

    div.favourite-things::before,
    div.bucket-list::before {
        display: none;
    }

    .favourite-img,
    .bucket-list-img {
        display: flex;
        justify-content: center;
    }

    img.favourite {
        box-shadow: 25px 25px $green-grey;
    }

    img.bucket-list {
        box-shadow: 25px 25px $pine;
    }

    // jouney section
    .journey {
        align-items: center;
    }

    div.journey {
        flex-direction: column;
        justify-content: center;
    }

    .journey-img {
        width: 50%;
        margin-right: 0;
    }

    .journey-content {
        width: 75%;
        margin-left: 0px;
        text-align: center;
        margin-top: 50px;
    }
}

@media (max-width: 900px) {
// contact page
    div.name,
    div.email {
    width: 100%;
    }
}

@media (max-width: 860px) {
    // home page
    // gallery section
    div.gallery {
        flex-wrap: nowrap;
        flex-direction: column;

        img {
            width: 100%;
        }
    }

    // footer
    .footer {
        flex-wrap: nowrap;
        flex-direction: column;

        .quick-link {
        width: 100%;
        padding: 15px;
        
        }
    }


    .quick-link-content {
        width: 100%;
    }

    // blog page
    div.blog-flex {
        flex-direction: column;
    }

    aside.blog,
    div.blog-content {
        width: 100%;
    }

    aside.blog {
        margin-right: 0px;
    }

    div.blog-content {
        margin-left: 0px;
    }

    .aside-about-willow {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .aside-text {
        margin-left: 25px;
    }

}

@media (max-width: 725px) {
    // home header
    .home {
        flex-direction: column;
        padding-top: 10%;
        align-content: center;
    }

    .headshot img {
        box-shadow: none;
    }

    .logo {
        width: 100%;
        margin-left: 25%;
        margin-bottom: 5%;

        h1 {
        font-size: 5rem;

        }   
    }

    .logo::before {
        height: 100px;
        width:100px;
    }

    // header
    h1.contact,
    h1.blog {
        font-size: 3rem;
    }
    
    h1.blog {
        top: 263px;
    }

    h1.contact {
        top: 262px;
    }
    
    // nav
    nav {
        justify-content: left;

        ul {
        display: none;

        }
    }

    i.menu {
        visibility: visible;
        font-size: 1rem;
    }
    
    // contact page
    div.contact {
        flex-direction: column;
    }

    div.contact-willow {
        margin-bottom: 20px;
    }

    form.contact-form {
        padding-left: 0px;
        width: 100%;
    }

    div.aside-socials a {
        font-size: 1rem;
    }

    div.willow-contact {
        margin-bottom: 25px;
    }

}

@media (max-width: 615px) {
    // home header 
    .home {
        flex-direction: row;
        justify-content: center;
    }

    .logo {
        margin-left: 15%;
        
        h1 {
            font-size: 4rem;
        }
    }
    
    .headshot {
        width: 65%;
    }

    // blog page
    .aside-about-willow {
        flex-direction: column;
    }

    div.userName,
    div.userEmail {
        width: 100%;
    }
}


@media (max-width: 460px) {
    // home header 
    .logo h1 {
        font-size: 3.2rem;
    }

    .logo::before {
        height: 80px;
        width: 80px;
        top: -15px;
        left: -30px;
    }

    // header
    h1.blog {
    top: 193px;
    
    }
}