html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

a,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
a {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.6rem;
}

nav a {
  font-size: 1.2rem;
}

p,
a {
  font-size: 1rem;
}

p {
  letter-spacing: 1px;
  line-height: 35px;
}

h2,
h3,
a {
  color: #1f1f1f;
}

h1,
h2,
h3 {
  font-family: "Abril Fatface", cursive;
  letter-spacing: 1px;
}

p,
nav a,
li {
  font-family: "Montserrat", sans-serif;
}

h1,
nav a {
  color: #f6f6f6;
}

#willow {
  font-family: "Abril Fatface", cursive;
  text-transform: uppercase;
  color: #f6f6f6;
  font-size: 2rem;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  background-color: #345231;
}

nav {
  background-color: #345231;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

i.menu {
  color: #f6f6f6;
  font-size: 0;
  padding: 20px 10px;
}

i.menu,
.mobile-only {
  visibility: collapse;
}

.mobile-only {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: first baseline;
      -ms-flex-align: first baseline;
          align-items: first baseline;
  height: 0vh;
  -webkit-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.selected {
  color: #e4a436;
}

i.menu:hover,
i.menu:focus {
  color: #e4a436;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

nav ul li,
#willow {
  padding: 10px 15px;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #e4a436;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 85vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home h1 {
  font-size: 7rem;
}

.headshot {
  width: 40%;
  margin-top: 5vh;
}
.headshot img {
  -webkit-box-shadow: 20px 20px white;
          box-shadow: 20px 20px white;
}

.logo {
  width: 60%;
  position: relative;
}

.logo::before {
  content: "";
  background-image: url(../assets/circle-text.png);
  background-size: 80%;
  background-position: cover;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  position: absolute;
  z-index: 1;
  top: -25px;
  left: -45px;
  rotate: 10deg;
}

a.willow,
a.favourite,
a.journey {
  background-color: #e4a436;
  padding: 20px 25px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  border: 2px solid #e4a436;
}

a.willow:hover,
a.willow:focus,
a.journey:hover,
a.journey:focus {
  background-color: #f6f6f6;
}

a.favourite:hover,
a.favourite:focus {
  background-color: white;
}

.about {
  background-color: #f6f6f6;
}
.about h2,
.about p {
  padding: 10px;
}

.about-willow {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.about-content {
  margin-bottom: 25px;
}

.favourite-things,
.bucket-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.favourite-things h3,
.favourite-things p,
.bucket-list h3,
.bucket-list p {
  padding-bottom: 20px;
}
.favourite-things h3,
.bucket-list h3 {
  padding-top: 25px;
}

.favourite-img,
.favourite-content,
.bucket-list-img,
.bucket-list-content {
  width: 50%;
}

.bucket-list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.bucket-list-content {
  text-align: right;
  padding-right: 50px;
}

.favourite-content {
  padding-left: 50px;
}

.favourite-things {
  position: relative;
}

.favourite-img {
  position: relative;
  bottom: 50px;
  z-index: 1;
}

div.bucket-list {
  margin-top: 50px;
  position: relative;
}

div.favourite-things::before {
  content: "";
  background-color: #709b6b;
  background-size: 100%;
  width: 900px;
  height: 340px;
  display: inline-block;
  position: absolute;
  bottom: 25px;
  left: -335px;
}

.bucket-list-img {
  z-index: 1;
  position: relative;
  top: 25px;
}

div.bucket-list::before {
  content: "";
  background-color: #345231;
  background-size: 100%;
  width: 690px;
  height: 340px;
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 570px;
}

.journey {
  background-color: #f6f6f6;
}

div.journey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
div.journey h2,
div.journey p {
  margin-bottom: 20px;
}

.journey-img {
  width: calc(30% - 20px);
  margin-right: 10px;
  -webkit-box-shadow: 20px 20px #709b6b;
          box-shadow: 20px 20px #709b6b;
}

.journey-content {
  width: calc(70% - 60px);
  margin-left: 10px;
}

.full-bleed-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery img {
  width: calc((100% / 3) - 20px);
}

header.contact {
  height: 45vh;
  background-image: url(../assets/contact-image-1.jpg);
  background-position: center;
  position: relative;
}

h1.contact {
  position: absolute;
  top: 243px;
}

main.contact {
  background-color: #f6f6f6;
}

div.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
}

form.contact-form {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input[type=text],
input[type=email],
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid white;
  font-family: "Montserrat", sans-serif;
  padding: 15px;
}

input[type=text],
input[type=email] {
  width: 100%;
}

div.name,
div.email {
  padding-bottom: 15px;
  width: calc((100% / 2) - 15px);
}

div.text {
  width: 100%;
}

textarea {
  resize: none;
  width: 100%;
}

button.contact {
  font-family: "Abril Fatface", cursive;
  background-color: #e4a436;
  text-transform: uppercase;
  padding: 10px 15px;
  font-weight: bold;
  border: solid 2px #e4a436;
  margin-top: 15px;
  letter-spacing: 1px;
  width: 100%;
}

button.contact:hover,
button.contact:focus {
  background-color: #f6f6f6;
}

div.willow-contact {
  background-color: white;
  padding: 40px 20px 20px 20px;
  height: 85%;
}

i.aside-socials {
  color: #345231;
  padding-right: 20px;
  font-size: 1.3rem;
}

.aside-socials,
p.contact-email {
  padding-bottom: 20px;
}

p.contact-email {
  font-size: 0.9rem;
  font-weight: bold;
}

ul.address li {
  font-size: 0.9rem;
  line-height: 30px;
}

header.blog {
  height: 45vh;
  background-image: url(../assets/blog-image-1.jpg);
  background-position: center;
  position: relative;
}

h1.blog {
  position: absolute;
  top: 244px;
}

main.blog {
  background-color: #f6f6f6;
}

.blog-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
}

.blog-content {
  width: 60%;
  margin-left: 20px;
}

section.blog1 h2 {
  font-size: 1.4rem;
}

aside.blog {
  width: calc(40% - 40px);
  margin-right: 20px;
}

img.blog-headshot {
  margin: 0 auto;
  width: 100%;
}

div.aside-about-willow h3 {
  margin: 15px 0px;
}
div.aside-about-willow p {
  font-size: 0.9rem;
}

.find {
  text-transform: none;
  color: #709b6b;
  font-weight: bold;
}

.find:hover,
.find:focus {
  text-decoration: underline;
}

ul.recent-posts {
  padding: 15px 0px 15px 30px;
}

ul.recent-posts li {
  list-style-type: disc;
  font-size: 0.5rem;
  line-height: 30px;
}
ul.recent-posts li a {
  text-transform: none;
  font-size: 0.9rem;
  padding-left: 10px;
}
ul.recent-posts li a:hover,
ul.recent-posts li a:focus {
  text-decoration: underline;
}

.aside-about-willow,
.aside-recent-posts,
.blog1,
.comment1,
.comment2 {
  background-color: white;
  margin-bottom: 25px;
  padding: 25px;
}

.blog1,
.comment2 {
  position: relative;
}

section.blog1 h2,
section.blog1 p,
div.comment1 p,
div.comment2 p {
  margin-bottom: 10px;
}

.blog1::after,
.comment2::after {
  content: "";
  position: absolute;
  background-color: #709b6b;
  background-size: 125%;
  height: 10px;
  width: 100%;
  display: inline-block;
  right: 1px;
  bottom: 1px;
}

.comment1,
.comment2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.comment1 img,
div.comment2 img {
  height: 25%;
  padding-right: 25px;
}

form.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.user-name,
div.user-email {
  width: calc((100% / 2) - 7px);
  padding-bottom: 15px;
}

button.comment {
  font-family: "Abril Fatface", cursive;
  background-color: #e4a436;
  text-transform: uppercase;
  padding: 10px 15px;
  font-weight: bold;
  border: solid 2px #e4a436;
  margin-top: 15px;
  letter-spacing: 1px;
  width: 100%;
}

button.comment:hover,
button.comment:focus {
  background-color: #f6f6f6;
}

footer {
  background-color: #f6f6f6;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
  padding: 40px 0;
}
.footer .quick-link {
  width: calc(100% / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quick-link-content {
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.quick-link-content a {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.quick-link-content a:hover,
.quick-link-content a:focus {
  color: #345231;
}

footer span {
  margin-top: 15px;
}

.circle-icon {
  position: relative;
  z-index: 0;
}

.circle-icon::before {
  content: "";
  position: absolute;
  background-color: #e4a436;
  height: 50px;
  width: 50px;
  border: solid 2px #e4a436;
  border-radius: 50%;
  z-index: -1;
  display: block;
  top: -14px;
  left: -14px;
}

.copyright {
  background-color: #1f1f1f;
  color: #f6f6f6;
  text-align: center;
}

@media (max-width: 1200px) {
  div.headshot {
    margin-top: 0vh;
  }

  .logo {
    width: calc(60% - 5%);
    margin-left: 5%;
  }
  .logo h1 {
    font-size: 6rem;
  }

  .favourite-things,
.bucket-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .favourite-content,
.favourite-img,
.bucket-list-content,
.bucket-list-img {
    width: 80%;
  }

  .favourite-content,
.bucket-list-content {
    text-align: center;
  }

  .bucket-list-content {
    margin-top: 50px;
    margin-bottom: 40px;
    padding-right: 0px;
  }

  div.favourite-things::before,
div.bucket-list::before {
    display: none;
  }

  .favourite-img,
.bucket-list-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  img.favourite {
    -webkit-box-shadow: 25px 25px #709b6b;
            box-shadow: 25px 25px #709b6b;
  }

  img.bucket-list {
    -webkit-box-shadow: 25px 25px #345231;
            box-shadow: 25px 25px #345231;
  }

  .journey {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  div.journey {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .journey-img {
    width: 50%;
    margin-right: 0;
  }

  .journey-content {
    width: 75%;
    margin-left: 0px;
    text-align: center;
    margin-top: 50px;
  }
}
@media (max-width: 900px) {
  div.name,
div.email {
    width: 100%;
  }
}
@media (max-width: 860px) {
  div.gallery {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.gallery img {
    width: 100%;
  }

  .footer {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .quick-link {
    width: 100%;
    padding: 15px;
  }

  .quick-link-content {
    width: 100%;
  }

  div.blog-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  aside.blog,
div.blog-content {
    width: 100%;
  }

  aside.blog {
    margin-right: 0px;
  }

  div.blog-content {
    margin-left: 0px;
  }

  .aside-about-willow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .aside-text {
    margin-left: 25px;
  }
}
@media (max-width: 725px) {
  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10%;
    -ms-flex-line-pack: center;
        align-content: center;
  }

  .headshot img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .logo {
    width: 100%;
    margin-left: 25%;
    margin-bottom: 5%;
  }
  .logo h1 {
    font-size: 5rem;
  }

  .logo::before {
    height: 100px;
    width: 100px;
  }

  h1.contact,
h1.blog {
    font-size: 3rem;
  }

  h1.blog {
    top: 263px;
  }

  h1.contact {
    top: 262px;
  }

  nav {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    background-color: rgba(52, 82, 49, 0.8);
    position: relative;
  }
  nav p {
    display: none;
  }

  .hide {
    visibility: collapse;
  }

  .show {
    visibility: visible;
    height: 45vh;
    -webkit-transition-property: height;
    transition-property: height;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }

  i.menu {
    visibility: visible;
    font-size: 1rem;
  }

  div.contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  div.contact-willow {
    margin-bottom: 20px;
  }

  form.contact-form {
    padding-left: 0px;
    width: 100%;
  }

  div.aside-socials a {
    font-size: 1rem;
  }

  div.willow-contact {
    margin-bottom: 25px;
  }
}
@media (max-width: 615px) {
  .home {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .logo {
    margin-left: 15%;
  }
  .logo h1 {
    font-size: 4rem;
  }

  .headshot {
    width: 65%;
  }

  .aside-about-willow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  div.userName,
div.userEmail {
    width: 100%;
  }
}
@media (max-width: 460px) {
  .logo h1 {
    font-size: 3.2rem;
  }

  .logo::before {
    height: 80px;
    width: 80px;
    top: -15px;
    left: -30px;
  }

  h1.blog {
    top: 193px;
  }
}